@mixin ait-content-bar-button { 

	.ait-buttons { background-color:#e1e1e1;
		padding: 4px;
		position: fixed;
		display: block;
		bottom: 0px;
		height: 5%;
		width: 100%;
		z-index: 1 !important;
	}

	.ait-buttons-btn {
		padding: 4px;
		height: 95%
	}
}