@mixin ait-content-bar-button { 

	.ait-buttons { 
		background-color: #2DB51E;
		padding: 4px;
		position: fixed;
		display: block;
		bottom: 0px;
		height: 5%;
		width: 100%;
		z-index: 1 !important;
	}

	.ait-buttons-btn {
		padding: 4px;
		height: 95%;
		//background-color: #000e75;
		@include valo-button-hover-style($background-color: #000e75);
		//@include valo-button-active-style($background-color: #000); 
	}
	
	.ait-buttons-btn-exit {
		padding: 4px;
		height: 95%;
		background-color: #33FF33;
	}
	
	
	
	
}