@mixin ait-content-bar-button { 

	.ait-buttons { 
		background-color: rgb(255, 255, 255);
		border-top : 1px solid rgb(0, 0, 0);
		padding: 4px;
		position: fixed;
		display: block;
		bottom: 0px;
		height: 5%;
		width: 100%;
		z-index: 1 !important;
	}

	.ait-btn-submit {
		padding: 4px;
		height: 95%;

		background-color: rgb(92, 184, 92);
		border: 2px solid rgb(76, 174, 76);
		color: white;
	}
	
	.ait-btn-exit {
		padding: 4px;
		height: 95%;
		background-color: rgb(255, 108, 96);
		border-color: rgb(255, 108, 96);
		color: white;
	}
	.ait-btn-print{
		padding: 4px;
		height: 95%;
	  	background-color: rgb(241, 197, 0);
	    border-color: rgb(241, 197, 0);
	    color: white;
	}
	.ait-btn-word {
		padding: 4px;
		height: 95%;

		background-color: #5e67ff;
		border: 2px solid #5e67ff;
		color: white;
	}
	
	.ait-btn-excel {
		padding: 4px;
		height: 95%;
		background-color: #00c033;
		border-color: #00c033;
		color: white;
	}
	.ait-btn-pdf{
		padding: 4px;
		height: 95%;
	  	background-color: rgb(255, 108, 96);
	    border-color: rgb(255, 108, 96);
	    color: white;
	}
	
}